<!DOCTYPE html>
<html>
<head>
    <title>{{ ml.demo.welcome.pageTitle }}</title>
</head>
<body>
    <h1>{{ ml.demo.welcome.pageTitle }}</h1>
    <p>{{ ml.demo.welcome.paragraph1 }}</p>
</body>
</html>